body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

header {
    width: 100%;
    background-color: rgb(225, 243, 255);
}

.header-wrapper {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

}

.nav-list ul li {
    background-color: transparent;
    list-style: none;
}

.nav-list ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(116, 116, 116);
}

.cookako-logo {
    width: ;
}