@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgb(225, 243, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-wrapper {
    padding: 20px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul {
    display: flex;
    gap: 3rem;
}

.nav-list ul li {
    list-style: none;
}

.nav-list ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(116, 116, 116);
}

.cookako-logo {
    width: 200px;
    height: auto;
}
