* {
          margin: 0;
          padding: 0;
}

body {
          background-image: url('../images/bg-body.jpg');
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
}

div.container.my-container{
    display: flex;
    flex: wrap;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

.my-wrapper{
    display: flex;
    flex: wrap;
    flex-direction: row;
    width: 100%;
}

.chef{
    width: 110%;
    margin: 0px -240px 0px 0px;
}

.phone{
    width: 140%;
}