* {
          margin: 0;
          padding: 0;
}

body {
          background-image: url('../images/bg-body.jpg');
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
}

.my-container{
    display: flex;
    flex: wrap;
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-wrapper{
    display: flex;
    flex: wrap;
    flex-direction: row;
    width: 120%;
    margin: 0px 0px 50px 0px;
}

.chef{
    width: 300%;
    margin: 0px -240px 0px 0px;
    height: 300%;
}

.phone{
    width: 300%;
    height: 300%;
    margin: 0px 0px -40px 0px;
}

.phone-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 360%;
    height: 360%;
    justify-content: center;
}

.vc-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    justify-content: center;
    column-gap: 60px;
}

.viewmore, .clickhere{
    width: 30%;
}

.viewmore:hover{
    mask-image: url(../images/viewmore\(clicked\)png.png);
    mask-repeat: no-repeat;
    mask-size: contain;
}

.clickhere:hover{
    mask-image: url(../images/clickhere\(clicked\).png);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-mode: luminance;
}

.txto{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    src: url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: 200;
    color: rgb(128, 80, 25);
}

.mid-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.firstmid-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.secondmid-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}