* {
          margin: 0;
          padding: 0;
}

body {
          background-image: url('../images/bg-body.jpg');
}

#news-container {
          width: 100%;
}

/* --- News --- */

.chef-news {
          width: 100%;
          display: flex;
}

.chef {
          padding-left: 5%;
}

.news {
          width: 40vw;
          position: absolute;
          left: 46%;
          top: 30%;
          background-image: url('../images/interface\ copy.png');
          background-repeat: no-repeat;
          z-index: 3;
          border-radius: 10px;
}

.chef-news .news-header {
          padding: 1.3rem;
          text-align: center;
}